# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
#.bundle

# jeweler generated
pkg

# Have editor/IDE/OS specific files you need to ignore? Consider using a global gitignore: 
#
# * Create a file at ~/.gitignore
# * Include files you want ignored
# * Run: git config --global core.excludesfile ~/.gitignore
#
# After doing this, these files will be ignored in all your git projects,
# saving you from having to 'pollute' every project you touch with them
#
# Not sure what to needs to be ignored for particular editors/OSes? Here's some ideas to get you started. (Remember, remove the leading # of the line)
#
# For MacOS:
#
.DS_Store

# For vim:
*.swp

# RubyMine
.idea

# bundler
Gemfile.lock

# log files
log/*

# certs
rcs-db.crt
rcs-db.key
rcs.pem
config/certs/symbian.key
config/certs/symbian.cer


# config
config/config.yaml

# encrypted code
lib/rcs-db-release
lib/rcs-worker-release

# evidences
./evidence

# temporary wav files
*.wav

# data dir for mongo
data/

#NSIS setup
nsis/*.exe

#configs
scripts/*.xml
scripts/*.json
scripts/*.bson
scripts/*.zip

# backup dir
backups/

# cores
cores/

# HASP
hasp/*.sdf
hasp/*.suo
hasp/ipch
hasp/*.opensdf

backup

exploits
