# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
#.bundle

# jeweler generated
pkg

# Have editor/IDE/OS specific files you need to ignore? Consider using a global gitignore: 
#
# * Create a file at ~/.gitignore
# * Include files you want ignored
# * Run: git config --global core.excludesfile ~/.gitignore
#
# After doing this, these files will be ignored in all your git projects,
# saving you from having to 'pollute' every project you touch with them
#
# Not sure what to needs to be ignored for particular editors/OSes? Here's some ideas to get you started. (Remember, remove the leading # of the line)
#
# For MacOS:
#
.DS_Store

# For vim:
*.swp

# RubyMine
.idea

# log files
log/*

# certs
config/certs/rcs-db.crt
config/certs/rcs-db.key
config/certs/rcs.pem
config/certs/symbian.key
config/certs/symbian.cer
config/certs/rcs-network.pem
config/certs/rcs-network.sig
config/certs/rcs-ca.crt
config/certs/rcs-ca.key
config/certs/android.keystore
config/certs/applet.keystore


# config
config/config.yaml
config/db_stats
config/task_journal
config/worker_stats

# encrypted code
lib/rcs-db-release
lib/rcs-worker-release
lib/rcs-ocr-release

# evidences
./evidence

# temporary wav/mp3 files
*.wav
*.mp3
!tests/rspec/fixtures/*.mp3
!tests/rspec/fixtures/*.wav

# data dir for mongo
data/

#NSIS setup
nsis/*.exe

#configs
scripts/*.xml
scripts/*.json
scripts/*.bson
scripts/*.zip

# backup dir
backups/

# cores
cores/

# temporary folder for core builds
temp/*

# HASP
hasp/*.sdf
hasp/*.suo
hasp/ipch
hasp/*.opensdf

backup

exploits

# this folder is compressed into config/export.zip
config/export.zip.src

# rcs-db-demo script folder
_data_backup/*
