<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style/reset.css"/>
    <link rel="stylesheet" type="text/css" href="style/entity.css"/>
  </head>

  <body>

    <h1><%= [operation_name, 'Entities'].join(' > ') %></h1>

    <% entities.each do |entity| %>
      <div class="entity-icon">
        <a href="<%= entity_url(entity) %>"><img src="<%= entity_icon_url(entity) %>" /></a>
        <p><%= entity.name %></p>
      </div>
    <% end %>

  </body>

</html>
